flows.json
[
    {
        "id": "5ed833547a0dd05f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ef4a6f9207a0629",
        "type": "watson-assistant-v2",
        "z": "5ed833547a0dd05f",
        "name": "Watson BOT",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/d61db492-76f5-4eae-97da-0bd20514cee2",
        "assistant_id": "58ce0c6d-cf04-46a2-a88f-5271c9d08c8f",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "a99fd27dfcf560d9",
                "02957a7f7fdcf148",
                "2b63552aa015e9a5"
            ]
        ]
    },
    {
        "id": "1d48ee15eb05e15a",
        "type": "function",
        "z": "5ed833547a0dd05f",
        "name": "Texto",
        "func": "msg.params={\n    \"session_id\":msg.payload.chatId\n}\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 220,
        "wires": [
            [
                "6ef4a6f9207a0629",
                "77366db83431a492"
            ]
        ]
    },
    {
        "id": "77366db83431a492",
        "type": "debug",
        "z": "5ed833547a0dd05f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "a99fd27dfcf560d9",
        "type": "debug",
        "z": "5ed833547a0dd05f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 160,
        "wires": []
    },
    {
        "id": "7dfd0ff0bb976c52",
        "type": "comment",
        "z": "5ed833547a0dd05f",
        "name": "IntegrandoBOT_Telegram",
        "info": "Integrando bot do ibmCloud ao telegram\n",
        "x": 230,
        "y": 60,
        "wires": []
    },
    {
        "id": "02957a7f7fdcf148",
        "type": "function",
        "z": "5ed833547a0dd05f",
        "name": "function 2",
        "func": "msg.payload = {\n    \"content\":msg.payload.output.generic[0].text,\n    \"type\":\"message\",\n    \"chatId\": msg.params.session_id\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 220,
        "wires": [
            [
                "bc5a647babe83195",
                "4c856e5280d33f4a"
            ]
        ]
    },
    {
        "id": "bc5a647babe83195",
        "type": "debug",
        "z": "5ed833547a0dd05f",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 160,
        "wires": []
    },
    {
        "id": "ae8f58a77acf59e0",
        "type": "function",
        "z": "5ed833547a0dd05f",
        "name": "Audio",
        "func": "msg.params={\n    \"session_id\" : msg.payload.chatId\n}\nmsg.payload=msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 340,
        "wires": [
            [
                "68fca5631ecef568"
            ]
        ]
    },
    {
        "id": "68fca5631ecef568",
        "type": "watson-speech-to-text",
        "z": "5ed833547a0dd05f",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "NarrowbandModel",
        "bandhidden": "NarrowbandModel",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "DW173C9DA8_K-CnGp0ZUlVF_nb76XOWx5WgDNa4Yj70u",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/58515a7e-fff2-43b1-8cba-18c41e845b0d",
        "x": 720,
        "y": 340,
        "wires": [
            [
                "3a7425a4b2a72656"
            ]
        ]
    },
    {
        "id": "faf5e96ac7499144",
        "type": "function",
        "z": "5ed833547a0dd05f",
        "name": "function 6",
        "func": "msg.payload = {\n    \"content\": msg.payload,\n    \"chatId\": msg.params.session_id,\n    \"type\": \"voice\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 340,
        "wires": [
            [
                "7cc06520afdb5f74",
                "126a67b1eef0ad13"
            ]
        ]
    },
    {
        "id": "3a7425a4b2a72656",
        "type": "watson-assistant-v2",
        "z": "5ed833547a0dd05f",
        "name": "Watson BOT",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/d61db492-76f5-4eae-97da-0bd20514cee2",
        "assistant_id": "58ce0c6d-cf04-46a2-a88f-5271c9d08c8f",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 910,
        "y": 340,
        "wires": [
            [
                "3856bcc37199f5f4",
                "cb7e524ba0259d56"
            ]
        ]
    },
    {
        "id": "7cc06520afdb5f74",
        "type": "telegram sender",
        "z": "5ed833547a0dd05f",
        "name": "",
        "bot": "76612b6346d40358",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1650,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "f61795b471f18024",
        "type": "watson-text-to-speech",
        "z": "5ed833547a0dd05f",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "pt-BR_IsabelaV3Voice",
        "format": "audio/wav",
        "password": "",
        "apikey": "3Z8w_kzrjapwhScYbthJey3isR4fa7dP-6V3cteNOSDv",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/5403e2a0-51cc-424b-8c7f-045b313facbe",
        "x": 1260,
        "y": 340,
        "wires": [
            [
                "faf5e96ac7499144"
            ]
        ]
    },
    {
        "id": "c859b8495d6df17c",
        "type": "switch",
        "z": "5ed833547a0dd05f",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "photo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "gif",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sticker",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "1d48ee15eb05e15a"
            ],
            [
                "ae8f58a77acf59e0"
            ],
            [],
            [
                "1524f4587ec99232"
            ],
            [
                "e07e7389e0196a59"
            ]
        ]
    },
    {
        "id": "3856bcc37199f5f4",
        "type": "function",
        "z": "5ed833547a0dd05f",
        "name": "function 8",
        "func": "msg.payload = msg.payload.output.generic[0].text;\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 340,
        "wires": [
            [
                "f61795b471f18024"
            ]
        ]
    },
    {
        "id": "126a67b1eef0ad13",
        "type": "debug",
        "z": "5ed833547a0dd05f",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 260,
        "wires": []
    },
    {
        "id": "1524f4587ec99232",
        "type": "function",
        "z": "5ed833547a0dd05f",
        "name": "function 4",
        "func": "msg.payload = {\n    \"content\": \"Oi! Vi que você mandou uma imagem, obrigado por isso. 📸\\nAinda não consigo entender fotos, mas tô aqui pra te ajudar!\\nMe conta rapidinho o que apareceu na tela, que a gente resolve juntos, tá bom? 💙\\nSe quiser, também posso te mandar um vídeo com o passo a passo. 😊\",\n    \"chatId\": msg.payload.chatId,\n    \"type\": \"message\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 440,
        "wires": [
            [
                "63b57ce859323673"
            ]
        ]
    },
    {
        "id": "4c856e5280d33f4a",
        "type": "telegram sender",
        "z": "5ed833547a0dd05f",
        "name": "",
        "bot": "76612b6346d40358",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1070,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "63b57ce859323673",
        "type": "telegram sender",
        "z": "5ed833547a0dd05f",
        "name": "",
        "bot": "76612b6346d40358",
        "haserroroutput": false,
        "outputs": 1,
        "x": 850,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e07e7389e0196a59",
        "type": "function",
        "z": "5ed833547a0dd05f",
        "name": "function 11",
        "func": "msg.payload = {\n    \"content\": \"Oi! Vi que você mandou um gif, obrigado por isso. 📸\\nAinda não consigo entender fotos, mas tô aqui pra te ajudar!\\nMe conta rapidinho o que apareceu na tela, que a gente resolve juntos, tá bom? 💙\\nSe quiser, também posso te mandar um vídeo com o passo a passo. 😊\",\n    \"chatId\": msg.payload.chatId,\n    \"type\": \"message\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 540,
        "wires": [
            [
                "63b57ce859323673"
            ]
        ]
    },
    {
        "id": "381816a36f67e1e4",
        "type": "debug",
        "z": "5ed833547a0dd05f",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 240,
        "wires": []
    },
    {
        "id": "cb7e524ba0259d56",
        "type": "function",
        "z": "5ed833547a0dd05f",
        "name": "function 12",
        "func": "msg.payload = {\n    \"content\": msg.payload.output.generic[1].text,\n    \"chatId\": msg.params.session_id,\n    \"type\": \"message\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 480,
        "wires": [
            [
                "7cc06520afdb5f74"
            ]
        ]
    },
    {
        "id": "e16a14b1664430ef",
        "type": "telegram receiver",
        "z": "5ed833547a0dd05f",
        "name": "Dona Certa bot",
        "bot": "76612b6346d40358",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 120,
        "y": 340,
        "wires": [
            [
                "c859b8495d6df17c",
                "381816a36f67e1e4"
            ],
            []
        ]
    },
    {
        "id": "2b63552aa015e9a5",
        "type": "function",
        "z": "5ed833547a0dd05f",
        "name": "function 1",
        "func": "msg.payload = {\n    \"content\": msg.payload.output.generic[1].text,\n    \"chatId\": msg.params.session_id,\n    \"type\": \"message\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 260,
        "wires": [
            [
                "4c856e5280d33f4a"
            ]
        ]
    },
    {
        "id": "76612b6346d40358",
        "type": "telegram bot",
        "botname": "ConsultaCerta_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]
